{% extends 'base.html.twig' %}

{% block title %}Hello StudioController!{% endblock %}

{% block body %}
    <main class="container">
        <h1 class="text-center m-5">Nos Studios</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Nombre d'employé</th>
                    <th>Ville</th>
                </tr>
            </thead>
            <tbody>
                {% for studio in studios %}
                    <tr>
                        <td>{{ studio.name }}</td>
                        <td>{{ studio.nbOfEmployees }}</td>
                        <td>{{ studio.city }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}
